:root {
  --color-primary-1: hsl(12, 88%, 59%);
  --color-primary-2: hsl(228, 39%, 23%);
  --color-light-gray: hsl(0, 0%, 98%);
  --color-dark-gray: hsl(227, 12%, 61%);
  --color-pale-red: hsl(13, 100%, 96%);
  --color-dark-blue: hsl(233, 12%, 13%);
  --shadow-primary: rgba(242, 95, 58, 0.5);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-family: "Be Vietnam Pro", sans-serif;
  color: var(--color-dark-gray);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img,
svg {
  display: block;
  height: 100%;
}

h1,
h4 {
  color: var(--color-primary-2);
  line-height: 1.2;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.heading-secondary {
  font-size: 4rem;
  line-height: 1.2;
}
.heading-secondary--dark {
  color: var(--color-primary-2);
}
.heading-secondary--light {
  color: var(--color-light-gray);
}

.text-center {
  text-align: center;
}

.mg-bt-md {
  margin-bottom: 6rem;
}

.mg-bt-lg {
  margin-bottom: 10rem;
}

.mg-tp-sm {
  margin-top: 4em;
}

.mg-tp-md {
  margin-top: 6em;
}

.mg-tp-lg {
  margin-top: 10rem;
}

.header {
  padding: 2rem 9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-top: 1rem;
}

.primary-nav {
  width: 60%;
}

.primary-nav-list {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.primary-nav-list li:last-child {
  margin-left: auto;
}

.primary-nav-link:link,
.primary-nav-link:visited {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--color-dark-gray);
  font-weight: 500;
}

.nav-cta.primary-nav-link:link,
.nav-cta.primary-nav-link:visited {
  padding: 1.4rem 3rem;
  font-weight: 600;
  border-radius: 10rem;
  background-color: var(--color-primary-1);
  color: var(--color-light-gray);
  box-shadow: 0 0.5rem 1rem var(--shadow-primary);
}
.nav-cta.primary-nav-link:link:hover, .nav-cta.primary-nav-link:link:active,
.nav-cta.primary-nav-link:visited:hover,
.nav-cta.primary-nav-link:visited:active {
  filter: brightness(120%);
}

.section-hero {
  padding: 4rem 0;
}

.hero {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.hero-text-box {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 2.4rem;
}
.hero-text-box h1 {
  font-size: 5rem;
}
.hero-text-box p {
  width: 70%;
}
.hero-text-box button {
  margin-top: 2rem;
}

.section-about {
  padding: 4rem 0;
}

.about {
  display: flex;
  gap: 6rem;
}

.about-text,
.about-steps {
  flex-basis: 50%;
}

.about-text h2 {
  font-size: 4rem;
  margin-bottom: 3rem;
}
.about-text p {
  width: 65%;
}

.about-steps {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.about-step {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
  align-items: center;
}
.about-step span {
  display: inline-block;
  grid-column: 1;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: var(--color-primary-1);
  padding: 1rem 2.5rem;
  border-radius: 10rem;
  color: var(--color-light-gray);
}
.about-step h4,
.about-step p {
  grid-column: 2/-1;
}
.about-step h4 {
  font-size: 1.8rem;
}

.section-testimonials {
  padding: 4rem 0;
}

.testimonials {
  display: flex;
  gap: 3rem;
}

.testimonial {
  background-color: var(--color-light-gray);
  position: relative;
  padding: 6rem 2rem 2rem 2rem;
}

.customer-photo {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.customer-photo--1 {
  background-image: url("../images/avatar-anisha.png");
}
.customer-photo--2 {
  background-image: url("../images/avatar-ali.png");
}
.customer-photo--3 {
  background-image: url("../images/avatar-richard.png");
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
  padding: 1.4rem 3rem;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  transition: all 0.3s;
}
.btn:hover, .btn:active {
  filter: brightness(120%);
}
.btn--primary {
  background-color: var(--color-primary-1);
  color: var(--color-light-gray);
  box-shadow: 0 0.5rem 1rem var(--shadow-primary);
}

/*# sourceMappingURL=styles.css.map */
