.section-hero {
	// position: relative;
}

.hero {
	display: flex;
	align-items: center;
	gap: 4rem;
}

.hero-text {
}

.hero-text-box {
	display: flex;
	align-items: start;
	flex-direction: column;
	gap: 2.4rem;

	h1 {
		font-size: 5rem;
		line-height: 1.2;
	}

	p {
		font-size: 1.6rem;
		line-height: 1.6;
		width: 70%;
	}

	button {
		margin-top: 2rem;
	}
}

.hero-img {
}
