.section-hero {
	padding: 4rem 0 8rem;
	// position: relative;
}

.hero {
	display: flex;
	align-items: center;
	gap: 4rem;
}

.hero-text {
}

.hero-text-box {
	display: flex;
	align-items: start;
	flex-direction: column;
	gap: 2.4rem;

	h1 {
		font-size: 5rem;
	}

	p {
		width: 70%;
	}

	button {
		margin-top: 2rem;
	}
}
