.container {
	max-width: 114rem;
	margin: 0 auto;
}

.heading-secondary {
	font-size: 4rem;

	line-height: 1.2;
	&--dark {
		color: var(--color-primary-2);
	}

	&--light {
		color: var(--color-light-gray);
	}
}

.text-center {
	text-align: center;
}

.mg-bt-md {
	margin-bottom: 6rem;
}

.mg-bt-lg {
	margin-bottom: 10rem;
}

.mg-tp-sm {
	margin-top: 4em;
}

.mg-tp-md {
	margin-top: 6em;
}

.mg-tp-lg {
	margin-top: 10rem;
}
